{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Remontuojami automobiliai</h1><br/>
    <br/><br/>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th scope="col">Gedimo registravimo laikas</th>
            <th scope="col">Automobilis</th>
            <th scope="col">Gedimo aprašymas</th>
            <th scope="col">Remonto kaina</th>
            <th scope="col">Statusas</th>

        </thead>
        {% for car in remontuojami_automobiliai %}
            <tbody>
                <tr>
                    <th scope="row">{{ car.created_at }}</th>
                    <td>{{ automobilis.car }}</td>
                    <td>{{ automobilis.issue }}</td>
                    <td>{{ automobilis.price }}</td>
                    <td>{{ automobilis.status }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>     


{% endblock %}
